/*Añadiendo estilos generales al proyecto*/

html {
    /*Hack para resetear el valro de 1rem = 16px
    a 1rem = 10px*/

    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;

    /*Hack para solucionar el problema del BOXMODEL*/
    box-sizing: border-box;
}

*,
*::before,
*::after {
  /*
    Segunda parte del Hack para solucionar los problemas 
    del BoxModel

    Esto significa que todos los elementos que se creen antes 
    o depues emplearan la propiedad BORDER-BOX, del elemento raiz
    */
  box-sizing: inherit;
}

body {
    font-size: 16px;
}


/*Definiendo estilos para los enlaces*/
a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}

.nav-item {
    color: #000000;
}

/*Definiendo alienamiento a la navegación principal*/
.cabecera .navegacion-principal {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.cabecera .navegacion-principal a {
    margin: 1rem;
}

.cabecera .navegacion-principal a img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}



.boton1 {
    color: #ffffff;
    background-color: #1a73e8;
    padding: 1rem 2rem;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
}
.boton1:hover {
    text-decoration: none;
    box-shadow: 0.1rem 0.1rem 0.4rem #000000;
    transition: all 0.2s ease;
}


/*Definiendo estilos a la sección principal*/
.logo {
    max-width: 1200px;
    height: 9.2rem;

    /*Agregando logo*/
    background-image: url("../assets/images/google_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    
    /*centrando el contenedor DIV*/
    margin: 1rem auto;
}

.link-logo {
    display: block;
    margin-top: 20rem;
    margin-bottom: 6rem;
}

.buscador-marco {
    max-width: 120rem;
    border: 0.1rem solid #ced4da;
    margin: 0 auto;
    margin-bottom: 4rem;
    border-radius: 4rem;
}

.campo-busqueda {
    max-width: 120rem;
    margin: 0 auto;
}

.busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscador {
    display: block;
    background-color: transparent;
    width: 47rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-bottom: 1.8rem;

    border: none;
    outline: none; /*El outline, es el border de linea que aparece cuando nos posicionamos en un formulario, para este caso lo retiramos*/
    resize: none; /*Definiendo que el TextArea no sera redimensionable*/

    
}

/*Agregando separación entre bloques de busqueda*/
.busqueda-botones {
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}


/*Agregando estilos a los botones de Busqueda*/
.boton-busqueda{
    color: #000000;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #f8f9fa;
    padding: 1rem 2rem;
    border: 0.1rem solid #f8f9fa;
    border-radius: 0.4rem;
    margin: 0.11rem 0.4rem;
}

.boton-busqueda:hover {
    text-decoration: none;
    box-shadow: 0.01rem 0.01rem 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bg-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-description > p.description {
    flex-grow: 1;
}

.description  {
    font-size: small;
}

a.description {
    color: #1a0dab;
}


/*Definiendo estilos a los elementos del Pie de pagina*/

footer {
    background-color: #f2f2f2;
}

.pie-item {
    font-family: arial,sans-serif;
    font-size: 1.4rem;
    color: #70757a;
    padding: 0.15rem;

}
footer p.pie-item {
    border-bottom: 0.1rem solid #dadce0;
    padding: 1.5rem 3rem;
}


footer .referencias {
    display: flex;
    flex-wrap: wrap;
    height: 4rem;
    padding: 0 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}