/*Añadiendo estilos generales al proyecto*/

html {
    /*Hack para resetear el valro de 1rem = 16px
    a 1rem = 10px*/

    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;

    /*Hack para solucionar el problema del BOXMODEL*/
    box-sizing: border-box;
}

*,
*::before,
*::after {
  /*
    Segunda parte del Hack para solucionar los problemas 
    del BoxModel

    Esto significa que todos los elementos que se creen antes 
    o depues emplearan la propiedad BORDER-BOX, del elemento raiz
    */
  box-sizing: inherit;
}

body {
    font-size: 16px;
}


/*Definiendo estilos para los enlaces*/
a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}

/*Definiendo alienamiento a la navegación principal*/
.cabecera .navegacion-principal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cabecera .navegacion-principal a {
    margin: 1rem;
}

.cabecera .navegacion-principal a img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}


.boton1 {
    color: #ffffff;
    background-color: #1a73e8;
    padding: 1rem 2rem;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
}


/*Definiendo estilos a la sección principal*/
.logo {
    max-width: 1200px;
    height: 9.2rem;

    /*Agregando logo*/
    background-image: url("../assets/images/google_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    
    /*centrando el contenedor DIV*/
    margin: 1rem auto;
}

.buscador-marco {
    max-width: 120rem;
    border: 0.1rem solid #202124;
    margin: 4rem auto;
    border-radius: 4rem;
}

.campo-busqueda {
    max-width: 120REM;
    margin: .5rem auto;
}

.busqueda {
    width: 90%;
    margin: 0 auto;
}

